.section {
    font-size: 60px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu {
    width: 60px;
    height: 110px;
    position: fixed;
    left: 5px;
    top: 0;
    bottom: 0;
    margin-top:auto;
    margin-bottom: auto;
    z-index:9999;
}


#menu ul {
    width: 60px;
    height: 110px;
    margin: 0 auto;
}
#menu li{
    width:60px;
    height: 20px;
    margin-bottom: 2px;
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
}
#menu li.active{
    background: rgba(0,0,0,0.6);
}
#menu a{
    display: block;
    width: 100%;
    height: 100%;
    color: #eaffea;
    font-size:12px;
    line-height:20px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.section1{
    background: url("img/077485bcea94116a6ae37e0799e24acc05a832fdbdb9-yzyiLr_fw658.jpg") no-repeat center top;
    background-size: 100% 30%;
}
.onetop{
    width: 100%;
    height: 20%;
    overflow: hidden;
    transition: all 1s;
}
.onetop h1{
    font-size: 36px;
    text-align: center;
    color: #000;
    line-height: 60px;
    margin-top: 30px;
}
.onetop p{
    font-size: 12px;
    text-align: center;
    color: #939393;
}
.oneleft{
    width: 50%;
    height: 80%;
    padding: 100px 0 0 200px;
    box-sizing: border-box;
    float: left;
    transition: all 1s;
}
.oneright{
    width: 50%;
    height: 80%;
    box-sizing: border-box;
    padding: 100px 200px 0 0;
    float: right;
    transition: all 1s;
}
.two-left{
    width:50%;
    height:100%;
    background:#64ff4e;
    float:left;
    transform:translateX(-1000px);
    transition:.5s all;
}
.onel1{
    width: 90%;
    height: 40%;
    box-sizing: border-box;
    background: rgba(123, 133, 123, 0.2);
    overflow: hidden;
    position: relative;
}
.onel1:first-child{
    margin-bottom: 10%;
}
.tu{
    width: 90px;
    height: 80px;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}
.oner1{
    width: 90%;
    height: 40%;
    box-sizing: border-box;
    background: rgba(123, 133, 123, 0.2);
    float: right;
    overflow: hidden;
    position: relative;
}
.oner1:hover{
    background: rgba(123, 133, 123, 0.6);
}
.oner1:hover h2{
    transform: translateY(-100px);
}
.onel1:hover h2{
    transform: translateY(-100px);
}
.oner1:hover p{
    transform: translateY(100px);
}
.onel1:hover p{
    transform: translateY(100px);
}
.onel1:hover{
    background: rgba(123, 133, 123, 0.6);
}
.oner1:first-child{
    margin-bottom: 10%;
}
.wenzi{
    width: 190px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    float: left;
}
.wenzi h2{
    font-size: 16px;
    line-height: 30px;
    transition: all 1s;
}
.wenzi p{
    font-size: 14px;
    margin-top: 10px;
    transition: all 1s;
}
.tiaozhuan{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 35px;
    right: 60px;
    opacity: 0;
    z-index: -1;
    transition: all 1s;
}
.oner1:hover .tiaozhuan{
    opacity: 1;
    z-index: 2;
}
.onel1:hover .tiaozhuan{
    opacity: 1;
    z-index: 2;
}
.tiaozhuan a{
    display: block;
    width: 100%;
    height: 100%;
}
.tiaozhuan a img{
    width: 50px;
    height: 50px;
}