.section {
    font-size: 60px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu {
    width: 60px;
    height: 110px;
    position: fixed;
    left: 5px;
    top: 0;
    bottom: 0;
    margin-top:auto;
    margin-bottom: auto;
    z-index:9999;
}


#menu ul {
    width: 60px;
    height: 110px;
    margin: 0 auto;
}
#menu li{
    width:60px;
    height: 20px;
    margin-bottom: 2px;
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
}
#menu li.active{
    background: rgba(0,0,0,0.6);
}
#menu a{
    display: block;
    width: 100%;
    height: 100%;
    color: #eaffea;
    font-size:12px;
    line-height:20px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.section1{
    background: url("../img/section1.jpg") no-repeat center center;
    background-size: 100% 100%;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
.handimg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px auto;
    background: #fff;
    border: 5px solid #2638ff;
    transition: all 0.5s;
}
.message{
    text-align: center;
}
.message h3{
    font-size: 36px;
    color: #fff;
    transition: all 0.5s;
}
.message p{
    font-size: 16px;
    color: #abcdff;
    transition: all 0.5s;
}
.message em{
    display: block;
    width: 600px;
    height: auto;
    margin: 30px auto;
    text-align: center;
    line-height: 30px;
    color: #999;
    font-size: 12px;
    transition: all 0.5s;
}


.section2{
    background-image: -webkit-linear-gradient(#68a9ff, #ffbeba);
    background-image: -o-linear-gradient(#68a9ff, #ffbeba);
    background-image: -moz-linear-gradient(#68a9ff, #ffbeba);
    background-image: -ms-linear-gradient(#68a9ff, #ffbeba);
}
.onetop{
    width: 100%;
    height: 20%;
    overflow: hidden;
    transition: all 1s;
    transform:translateY(-200px);
}
.onetop h1{
    font-size: 36px;
    text-align: center;
    color: #000;
    line-height: 60px;
    margin-top: 30px;
}
.onetop p{
    font-size: 12px;
    text-align: center;
    color: #939393;
}
.oneleft{
    width: 50%;
    height: 80%;
    padding: 100px 0 0 200px;
    box-sizing: border-box;
    float: left;
    transform:translateX(-1000px);
    transition: all 1s;
}
.oneright{
    width: 50%;
    height: 80%;
    box-sizing: border-box;
    padding: 100px 200px 0 0;
    float: right;
    transform:translateX(1000px);
    transition: all 1s;
}
.two-left{
    width:50%;
    height:100%;
    background:#64ff4e;
    float:left;
    transform:translateX(-1000px);
    transition:.5s all;
}
.onel1{
    width: 90%;
    height: 40%;
    box-sizing: border-box;
    background: rgba(123, 133, 123, 0.2);
    overflow: hidden;
    position: relative;
}
.onel1:first-child{
    margin-bottom: 10%;
}
.tu{
    width: 90px;
    height: 80px;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}
.oner1{
    width: 90%;
    height: 40%;
    box-sizing: border-box;
    background: rgba(123, 133, 123, 0.2);
    float: right;
    overflow: hidden;
    position: relative;
}
.oner1:hover{
    background: rgba(123, 133, 123, 0.6);
}
.oner1:hover h2{
    transform: translateY(-100px);
}
.onel1:hover h2{
    transform: translateY(-100px);
}
.oner1:hover p{
    transform: translateY(100px);
}
.onel1:hover p{
    transform: translateY(100px);
}
.onel1:hover{
    background: rgba(123, 133, 123, 0.6);
}
.oner1:first-child{
    margin-bottom: 10%;
}
.wenzi{
    width: 190px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    float: left;
}
.wenzi h2{
    font-size: 16px;
    line-height: 30px;
    transition: all 1s;
}
.wenzi p{
    font-size: 14px;
    margin-top: 10px;
    transition: all 1s;
}
.tiaozhuan{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 35px;
    right: 60px;
    opacity: 0;
    z-index: -1;
    transition: all 1s;
}
.oner1:hover .tiaozhuan{
    opacity: 1;
    z-index: 2;
}
.onel1:hover .tiaozhuan{
    opacity: 1;
    z-index: 2;
}
.tiaozhuan a{
    display: block;
    width: 100%;
    height: 100%;
}
.tiaozhuan a img{
    width: 50px;
    height: 50px;
}
.threeleft,.threeright{
    width: 50%;
    height: 100%;
    float: left;
    transition: all 1s;
}
.threeleft{
    /*transform: translateX(-1000px);*/
}
.threeright{
    /*transform: translateX(1000px);*/
}

.section3{
    background-image: -webkit-linear-gradient(#ffbeba, #6c50ff);
    background-image: -o-linear-gradient(#ffbeba, #6c50ff);
    background-image: -moz-linear-gradient(#ffbeba, #6c50ff);
    background-image: -ms-linear-gradient(#ffbeba, #6c50ff);
}
.thbt{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    line-height: 100px;
    text-align: center;
    border-top: 5px solid rgba(4, 10, 56, 0.66);
    border-bottom: 5px solid rgba(4, 10, 56, 0.66);
}
.thbt h1{
    font-family: "Baskerville Old Face";
    font-size: 36px;
}
.thpic{
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 200px;
    margin-right: 50px;
    transition: all 0.5s;
    transform: scale(0,0);
    border-radius: 10px;
    overflow: hidden;
}
.thpic img{
    width: 300px;
    height: 300px;
    float: right;
}
.thnei{
    width: 400px;
    height: 300px;
    float: left;
    margin-top: 200px;
    transition: all 0.5s;
    padding: 50px 10px;
    transform: scale(0,0);
    box-sizing: border-box;
}
.thnei p{
    font-size: 16px;
    line-height: 20px;
}

.section4{
    background-image: -webkit-linear-gradient(#6c50ff, #7ae4ff);
    background-image: -o-linear-gradient(#6c50ff, #7ae4ff);
    background-image: -ms-linear-gradient(#6c50ff, #7ae4ff);
    background-image: -moz-linear-gradient(#6c50ff, #7ae4ff);
}

.fobox{
    width: 1050px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.3);
    margin: 200px auto 50px;
    transition: all 0.5s;
    transform: scale(0,0);
}
.fobox:hover{
    box-shadow: 0 5px 10px 0px #ccc;
    transform: translateY(-5px);
}
canvas{
    width: 200px;
    height: 200px;
    transition: all 1s;
}
canvas:hover{
    transform: scale(1.1,1.1);
}
.fonei{
    width: 1050px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transition: all 0.5s;
}
.fonein{
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.section5{
    background-image: -webkit-linear-gradient(#7ae4ff, #53ff47);
    background-image: -o-linear-gradient(#7ae4ff, #53ff47);
    background-image: -ms-linear-gradient(#7ae4ff, #53ff47);
    background-image: -moz-linear-gradient(#7ae4ff, #53ff47);

}
.scene {
    width: 500px;
    height: 500px;
    border: 3px solid rgba(0, 0, 0, 0.36);
    margin: 30px auto;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: #cccccc 0 0 5px 5px;
    background: rgba(211, 78, 255, 0.55);
}

.section5 ul {
    padding: 0;
    list-style: none;
    width: 300px;
    height: 300px;
    margin: 100px auto 0;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s;
    transform-origin: center center -300px;
}

.section5 ul li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
    border-radius: 10px;
    transform-origin: center center -300px;
    transform: translateZ(-260px);
}

.section5 ul li:nth-child(1) {
    background: rgba(255, 255, 0, 0.61);
    transform: rotateY(60deg);
}

.section5 ul li:nth-child(2) {
    background: rgba(255, 207, 37, 0.61);
    transform: rotateY(120deg);
}

.section5 ul li:nth-child(3) {
    background: rgba(51, 255, 51, 0.6);
    transform: rotateY(180deg);
}

.section5 ul li:nth-child(4) {
    background: rgba(255, 51, 51, 0.61);
    transform: rotateY(240deg);
}

.section5 ul li:nth-child(5) {
    background: rgba(51, 255, 255, 0.62);
    transform: rotateY(300deg);
}

.section5 ul li:nth-child(6) {
    background: rgba(255, 51, 255, 0.61);
    transform: rotateY(0deg);
}
/*.scene:hover ul{*/
/*transform: rotate3d(1,1,0,360deg);*/
/*}*/
.next,.prev{
    width: 30px;
    height: 30px;
    position: absolute;
    border: 4px solid #333;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #495149;
    cursor: pointer;
    font-weight: bolder;
    z-index: 999;
    font-size: 16px;
}
.next{
    left: 200px;
    bottom: 50px;
}
.prev{
    right: 200px;
    bottom: 50px;
}
